<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous">
        <title>CRUD Bellako</title>
    </head>
    <body style="color: white; background-color: #1d2630">
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
        <div class="container mt-5">
            <div class="text-center">
                <h1 class="display-5 mb-5">
                    <strong>
                        Mis alimentos
                    </strong>
                </h1>
            </div>
            <div class="col-12 mt-5">
                <table class="table table-striped table-dark table-bordered
                    table-striped-columns">
                    <thead>
                        <tr>
                            <td>ID</td>
                            <td>Nombre del alimento</td>
                            <td>Peso(g)</td>
                            <td>Calorías</td>
                            <td>Proteínas(g)</td>
                            <td>Carbohidratos(g)</td>
                            <td>Grasas(g)</td>
                            <td>Actiones</td>
                        </tr>
                    </thead>
                    <tbody class="food-list">
                        <tr>
                            <% for(var i = 0; i < data.length; i++) { %>
                                <tr>
                                    <th scope="row"><%= data[i].id  %></th>
                                    <td><%= data[i].alimento  %></td>
                                    <td><%=data[i].peso%></td>
                                    <td><%= data[i].calorias  %></td>
                                    <td><%= data[i].proteinas %></td>
                                    <td><%= data[i].carbohidratos%></td>
                                    <td><%= data[i].grasas %></td>
                                    <td>
                                        <a href="/edit/<%=data[i].id%>" class="btn btn-warning btn-sm edit">Editar</a>
                                        <a href="/delete/<%= data[i].id%>" class="btn btn-danger btn-sm edit">Eliminar</a>
                                    </td>
                                </tr>
                            <% } %>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <button type="button" class="btn btn-secondary" id="abrir-modal"
                    data-bs-toggle="modal" data-bs-target="#abrirAgregar">Agregar</button>
            </div>

            <div class="modal fade" id="abrirAgregar" tabindex="-1"
                aria-hidden="true" aria-labelledby="modalTitle">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalTitle">Agregar
                                alimento</h5>
                        </div>
                        <style>
                            .modal-content {
                              background: #19212a;
                            }
                        </style>
                        <div class="modal-body">
                            <div class="main row justify-content-center">
                                <form action="/add" method="post" id="food-form"
                                    class="row
                                    justify-content-center mb-4"
                                    autocomplete="off">
                                    <div class="col-5 mb-3">
                                        <input class="form-control"
                                            id="name_alimento"
                                            name="name_alimento"
                                            type="text" placeholder="Nombre" required>
                                    </div>
                                    <div class="col-5 mb-3">
                                        <input class="form-control"
                                            id="int_peso"
                                            name="int_peso"
                                            type="number" placeholder="Peso(g)" required>
                                    </div>
                                    <div class="col-5 mb-3">
                                        <input class="form-control"
                                            id="int_calorias"
                                            name="int_calorias"
                                            type="number"
                                            placeholder="Calorías" required>
                                    </div>
                                    <div class="col-5 mb-3">
                                        <input class="form-control"
                                            id="int_proteinas"
                                            name="int_proteinas"
                                            type="number"
                                            placeholder="Proteínas" required>
                                    </div>
                                    <div class="col-5 mb-3">
                                        <input class="form-control"
                                            id="int_carbohidratos"
                                            name="int_carbohidratos"
                                            type="number"
                                            placeholder="Carbohidratos" required>
                                    </div>
                                    <div class="col-5 mb-3">
                                        <input class="form-control"
                                            id="int_grasas"
                                            name="int_grasas"
                                            type="number" placeholder="Grasas" required>
                                    </div>
                                    <div class="col-lg-10">
                                        <input class="btn btn-success add-btn"
                                            type="submit"
                                            value="Agregar alimento">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>